<div>
    <%= link_to "#{kitten.name}", kitten %>
    <%= "Age: #{kitten.age} "%>
    <%= "Cuteness: #{kitten.cuteness} "%>
    <%= "Softness: #{kitten.softness}" %>
    <%= link_to "Edit", edit_kitten_path(kitten) %>
    <%= link_to "Delete", kitten, method: :delete %>
</div>